/* Reset */
*{
  box-sizing: border-box; /* Não deixa a borda aumentar a largura dos elementos */
  margin: 0;
  outline: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}

html{
  scroll-behavior: smooth;
}

/* Início Header */
.nav{
  background-color: #181818;
  display: flex;
  height: 80px;
  justify-content: flex-end;
  position: sticky; /* Deixa o menu fixo enquanto rola a página */
  top: 0; /* Deixa o menu no topo */
  width: 100%;
  z-index: 9; /* Deixa sobreposto */
}

.nav-list{
  align-items: center;
  display: flex;
  list-style: none;
  margin-right: 28px;
}

a{
  border: 1px solid transparent;
  color: #ddd;
  padding: 20px;
  text-decoration: none;

  overflow: hidden;
  position: relative;
  transition: 0.8s;
}

a:hover{
  color: #fff;
}

li:hover{
  -webkit-animation-name: heartBeat;
  animation-name: heartBeat;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
/* Fim Header */

/* Início Main */
.main{
  background-color: #000;
  background-image: url('images/programador.png');
  height: calc(100vh - 80px);
  width: 100%;

  align-items: center;
  display: flex;
  padding-left: 10%;
}

.main h1{
  color: #fff;
  font-size: 54px;
}
  
.main p{
  color: #1e96fc;
  font-size: 24px;
  font-style: italic;
  margin-bottom: 35px;
  margin-top: 10px;
}

.main .call-to-action{
  background-color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 14px;

  transition: 0.9s;
}

.main .call-to-action:hover{
  transform: scale(1.1);
}

.main a{
  color: #181818;
  text-decoration: none;
}
/* Fim Main */

/* Início Sobre */
.about{
  background-color: #fff;
  padding: 80px 10%; /* Cima/Baixo e Direita/Esquerda */
  width: 100%; /* 100% da área (Sobre/about) */

  align-items: center;
  display: flex;
  justify-content: space-between;
}

.about div{
  max-width: 50%;
  padding-right: 40px;
}

.about img{
  border-radius: 8px;
  max-width: 450px;
}

.about img:hover{
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.about div h2{
  font-size: 32px;
  margin-bottom: 14px;
}
/* Fim Sobre*/

/* Início Projects */
.projects{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0;
  width: 100%;
}

.projects h2{
  font-size: 32px;
  margin-bottom: 8px;
  margin-top: 20px;
}

.projects p{
  font-style: italic;
  margin-bottom: 40px;
}

.project-list{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  width: 100%;
}

.project-list img{
  margin: 0 0.5%;
  opacity: 0.8;
  transition: 0.9s;
  width: 22%;
}

.project-list img:hover{
  opacity: 1;
  animation: swing 1s ease;
  animation-iteration-count: 1;
}

.action{
  background-color: #181818;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  margin-top: 18px;
  padding: 12px 28px;
}

.action:hover{
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* Fim Projects */

/* Início Rodapé */
footer{
  align-items: center;
  background-color: #181818;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  width: 100%;
}

footer a{
  color: #fff;
  text-decoration: none;
}

footer p{
  margin-left: 12px;
}
/* Fim Rodapé */

/* Responsividade */
@media (max-width: 1050px){
  .main{
    background-size: cover;
  }
  .main h1{
    font-size: 45px;
  }
  .main p{
    font-size: 18px;
  }

  .about{
    flex-direction: column;
    padding: 80px 0 0 0;
  }
  .about div{
    max-width: 80%;
  }
  .about div h2{
    font-size: 45px;
  }
  .about img{
    margin-top: 30px;
    width: 80%;
  }

  .projects img{
    width: 27.5%;
  }

  footer{
    flex-direction: column;
  }
  footer h3{
    font-size: 24px;
    margin-bottom: 8px;
  }
  footer p{
    margin: 0;
  }
}



/* Início Animações */
/* Início Animação <header> Nav li */
@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* Fim Animação <header> Nav li */

/* Início Animação <about> IMG */
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/* Fim Animação <about> IMG */

/* Início Animação <project-list> */
@keyframes swing{
  15% {
  transform: translateX(5px);
  }
  30% {
  transform: translateX(-5px);
  }
  50% {
  transform: translateX(3px);
  }
  65% {
  transform: translateX(-3px);
  }
  80% {
  transform: translateX(2px);
  }
  100% {
  transform: translateX(0);
  }
}
/* Fim Animação <project-list */
/* Início Animação <project-list action */
@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/* Fim Animação <project-list action */
/* Fim Animações */